*{
  margin: 0;
  padding: 0;
}
html{
  background-color: #f1f1f1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #017481;
  background-color: #f2f3f4;
  padding: 1rem;
}
.logo{
  width: 8rem;
  height: 3rem;
  border: 1px solid black;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secciones{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.carousel {
  overflow: hidden;
  position: relative;
}
.carousel__container {
  display: flex;
}
.carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 70vh;
  overflow-y: hidden;

}

.carousel__slide img{
  width: 100%;

}

.carousel__next, .carousel__prev{
  all: unset;
  font-size: 4rem;
  position: absolute;
  top:50%;
  color: #017481;
  text-shadow:2px 2px 1px #072f2e;
}

.carousel__next:hover , .carousel__prev:hover{
  scale: 1.2;
}
.carousel__prev{

  left: 1%;
  
}
.carousel__next{

  right: 1%;
}

.fondo{
  height: 300vh;
  width: 100%;
}