@font-face { font-family: 'customFont'; 
  src: url('/fonts/Poppins.ttf') format('truetype'); font-weight: normal; font-style: normal; }
*{
  margin: 0;
  padding: 0;
}
/* #070F12, #003B46, #006770, #008C8B, #00A3A9 */
html{
  background-color: #f1f1f1;
  width: 100vw;
  font-family: 'customFont';
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #017481;
  background-color: #f2f3f4;
  padding: 1rem;
}
.logo{
  width: 8rem;
  height: 3rem;
  border: 1px solid black;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secciones{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.carousel {
  overflow: hidden;
  position: relative;
}
.carousel__container {
  display: flex;
}
.carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 70vh;
  overflow-y: hidden;

}

.carousel__slide img{
  width: 100%;

}

.carousel__next, .carousel__prev{
  all: unset;
  font-size: 4rem;
  position: absolute;
  top:50%;
  color: #017481;
  text-shadow:2px 2px 1px #072f2e;
}

.carousel__next:hover , .carousel__prev:hover{
  scale: 1.2;
}
.carousel__prev{

  left: 1%;
  
}
.carousel__next{

  right: 1%;
}



.aboutHeader{
  width: 100%;
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #006770;
  margin-bottom: 3rem;
}
.wrap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  gap: 2rem;
  color: #f2f3f4;
}
.aboutTitle{
  color: hsl(182, 100%, 73%);
  text-shadow:1px 1px 1px hsl(179, 74%, 15%);
}

.containerAbout{
  display: flex;
  flex-direction: column;
}

.aboutContent{
  display:flex;
  position: relative;
  background-color: #003B46;
  gap: 1rem;
  justify-content:center;
  align-items: center;
  height: 100vh;
}
.wrap1{
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 3rem;
  top:-3rem;
  z-index: 2;
}
.mission, .vision{
  background-color: #f2f3f4;
  border-radius: 13px;
  color: #585858;
  padding: 1rem;


}

.mission{
  margin-left: 5rem;
  left: 0;
}
.vision{
  margin-right: 5rem;
  right: 0;
}
.mission h2,.vision h2 {
  text-align: center;
  color: #00A3A9;
}

.values{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
  background-color: #f2f3f4;
  padding: 1rem;
  border-radius: 13px;
  color: #585858;
  width: 80vw;
}
.values h2{
  text-align: center;
  color: #00A3A9;
}

.news{
  display: flex;
  flex-direction: column;
  height: 200vh;
  margin-top: 4rem;
  background-color: #f2f3f4;
  gap: 6rem;
  width: 100vw;

}

.newContainer,.newContainer2{
  display: flex;
  
}
.newContainer2{
  align-self: end;
  margin-right: 14rem;
}


.image{
  border: 1px solid black;
  height: 40rem;
  width: 20rem;
  position: relative;
  z-index: 0;
}
.image2{
  border: 1px solid black;
  height: 40rem;
  width: 20rem;
  position: relative;
}



.new,.new2{
  position:absolute;
  border: 1px solid black;
  width: 40rem;
  z-index: 1;
  opacity: 78%;
  background-color: #008C8B;
  color: #fefefe;
  padding: 1rem;

}
.new{
  left: 10rem;

}
.new2{
  right: 10rem;
}

.new h2{
  text-align: center;
}
.l{
  justify-self: end;
  align-self: end;
}